li {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    font-family: 'Outfit', sans-serif;
}

/*utility*/

.container {
    width: 90%;
    margin-inline: auto;
}

.text {
    font-size: 1.15rem;
    max-width: 65ch;
}

.title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.55rem;
    letter-spacing: 0.05rem;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    color: white;
    height: 10vh;
}

.header__logo {
    width: 7rem;
    height: auto;
}

.header__menu {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
}

.header__portfolio-box {
    background-color: black;
    height: 4rem;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.header__portfolio {
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: absolute; top:80px; left:100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    text-align: right;
    margin-bottom: 1rem;
    margin-right: 5%;
    text-transform: uppercase;
    color: white;
}

@media (min-width: 767px){
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }
}

@media (max-width: 767px){
    .header__menu {
        display: none;
    }
}

/*hero*/
.hero {
    text-align: center;
    color: white;
    overflow: hidden;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title {
    margin-top: -5rem;
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.6);
}

.video-container2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 13%;
    overflow: hidden;
    z-index: -1;
}

.hero__video2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.6);
}

@media (min-aspect-ratio: 16/9){
    .hero__video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9){
    .hero__video{
        width: auto;
        height: 100%;
    }
}


/*trusted*/

.trusted {
    background-color: rgba(196, 189, 189, 0.5);
    text-align: center;
}

.trusted__title {
    padding-top: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #575555;
}

.trusted__logos {
    margin-top: -1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.trusted__logo {
    height: 6rem;
    width: auto;
}

/*catch*/
.catch {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.catch__title {
    margin-bottom: 2rem;
}

.catch__text {
    margin: 1.5rem auto;
    color: #575555;
}

/*showreel*/

.showreel {
    text-align: center;
    color: white;
    padding: 3rem;
    background-color: rgba(0, 0, 0);
}

.showreel__video {
    height: 35rem;
    width: auto;
    border: 1px solid rgba(217, 217, 217, 0.1);
    border-radius: 30px;
    margin-bottom: 2rem;
}

.showreel__video-box {
}

.showreel__btn{
    background-color: white;
    color: black;
}

/*leistungen*/

.leistungen {
    margin-top: 3rem;
    text-align: center;
}

.leistungen__title {
    margin-bottom: 5rem;
}

.leistungen__container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
}

.leistungen__box {
    max-width: 30ch;
}

.leistungen__box-hide {
    margin-top: 3rem;
    display: none;
}

.leistungen__name {
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.leistungen__text {
    color: #575555;
}

.leistungen__btn {
    margin-top: 5rem;
    color: white;
    background-color: black;
}

/*kontakt*/
.kontakt {
    margin-top: 8rem;
    text-align: center;
    max-width: 75ch;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 3rem;
    border-radius: 40px;
    box-shadow: rgba(128, 128, 128);
}

.kontakt__title {

}

.kontakt__text {
    margin: 2rem 0;
    color: #575555;
}

.kontakt__btn {
    color: white;
    background-color: black;
}

/*vision*/
.vision {
    margin-top: 10rem;
    color: white;
    background-color: black;
    text-align: center;
    height: 33rem;
}

.vision__logo {
    margin-top: 7rem;
    height: 3rem;
    width: auto;
}

.vision__text {
    margin: 2rem auto;
    color: #dadada;
}

.vision__btn {
    background-color: white;
    color: black;
}

/*collage*/

.collage__img {
    width: 100%;
    height: auto;
}

/*footer*/
.footer {
    background-color: black;
    color: white;
    padding: 2rem;
}

.footer__socials-container,
.footer__links {
    margin-inline: auto;
    text-align: center;
}

.footer__socials {
    height: 1.2rem;
    width: auto;
    margin: 0 0.15rem;
}

.footer__links {
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #575555;
    text-transform: uppercase;
}

/*portfolio*/

.portfolio {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio__box {
    height: 15rem;
    width: auto;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    cursor: pointer;
    margin: 5rem 1rem;
}
